:root {
	--pad: max(20px, 4vmin);
}

h1 {
	&.fade-in {
		span {
			opacity: 0;
			transform: translateX(30px);
			animation: fadeIn 0.1s ease-out forwards;
			display: inline-block;
			color: #fff;
			@for $i from 2 through 16 {
				&:nth-of-type(#{$i}) {
					animation-delay: 0.1s * $i;
				}
			}
		}
	}
	&.fade-out {
		span {
			opacity: 1;
			animation: fadeOut 0.1s ease-out forwards;
			display: inline-block;
			color: #fff;
			@for $i from 2 through 16 {
				&:nth-of-type(#{$i}) {
					animation-delay: 0.1s * $i;
				}
			}
		}
	}
}

// header
.header {
	position: fixed;
	z-index: 10;
	left: calc(var(--pad) * 2);
	top: calc(var(--pad) * 2);

	&__title {
		color: #fff;
		margin: -0.1em 0 0 -0.04em;
		font-weight: 700;
		font-size: 30px;
	}
	&__label {
		color: #fff;
		margin-top: 5px;
		font-weight: 400;
	}
	&__nav {
		margin-top: 50px;
	}
	ol {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		color: #fff;
		.text {
			cursor: pointer;
			transition: all 0.4s ease;
			&:hover {
				opacity: 0.4;
			}
		}
		.dot {
			display: none;
		}
		li.selected {
			.text {
				display: none;
			}
			.dot {
				display: block;
			}
		}
	}
}
.page {
	&__home {
		position: absolute;
		right: calc(var(--pad) * 2);
		bottom: calc(var(--pad) * 2);
		white-space: nowrap;
		span {
			font-size: 21px;
			color: #fff;
			display: block;
		}
	}
	&__partner {
		position: absolute;
		right: calc(var(--pad) * 2);
		bottom: calc(var(--pad) * 2);
		white-space: nowrap;
		color: #fff;

		h3 {
			display: block;
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 8px;
			text-align: right;
		}
	}
	&__about {
		color: #fff;

		position: absolute;
		right: calc(var(--pad) * 2);
		bottom: calc(var(--pad) * 2);
		white-space: nowrap;
		a span {
			display: inline-block;
		}
		span {
			display: block;
		}
	}
	&__contact {
		color: #fff;
		position: absolute;
		left: calc(var(--pad) * 2);
		bottom: calc(var(--pad) * 2);
		a {
			display: block;
			font-size: 21px;
		}
	}
}
.bg-animation {
	position: absolute;
	left: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.balloon-list {
	div {
		height: 60px;
		width: 60px;
		border: 2px solid hsl(0, 0%, 90%);
		border-radius: 50px;
		position: absolute;
		top: 10%;
		left: 10%;
		animation: 4s linear infinite;
	}
}
.balloon-list .balloon {
	height: 10px;
	width: 10px;
	border-radius: 50px;
	background: hsl(0, 0%, 100%);
	position: absolute;
	top: 20%;
	right: 20%;
}
.balloon-list div:nth-child(1) {
	top: 20%;
	left: 20%;
	animation: animate 8s linear infinite;
}
.balloon-list div:nth-child(2) {
	top: 60%;
	left: 80%;
	animation: animate 10s linear infinite;
}
.balloon-list div:nth-child(3) {
	top: 40%;
	left: 40%;
	animation: animate 7s linear infinite;
}
.balloon-list div:nth-child(4) {
	top: 66%;
	left: 30%;
	animation: animate 7s linear infinite;
}
.balloon-list div:nth-child(5) {
	top: 90%;
	left: 10%;
	animation: animate 9s linear infinite;
}
.balloon-list div:nth-child(6) {
	top: 30%;
	left: 60%;
	animation: animate 8s linear infinite;
}
.balloon-list div:nth-child(7) {
	top: 70%;
	left: 20%;
	animation: animate 8s linear infinite;
}
.balloon-list div:nth-child(8) {
	top: 75%;
	left: 60%;
	animation: animate 10s linear infinite;
}
.balloon-list div:nth-child(9) {
	top: 50%;
	left: 50%;
	animation: animate 6s linear infinite;
}
.balloon-list div:nth-child(10) {
	top: 45%;
	left: 20%;
	animation: animate 10s linear infinite;
}
.balloon-list div:nth-child(11) {
	top: 10%;
	left: 90%;
	animation: animate 9s linear infinite;
}
.balloon-list div:nth-child(12) {
	top: 20%;
	left: 70%;
	animation: animate 7s linear infinite;
}
.balloon-list div:nth-child(13) {
	top: 20%;
	left: 20%;
	animation: animate 8s linear infinite;
}
.balloon-list div:nth-child(14) {
	top: 60%;
	left: 5%;
	animation: animate 6s linear infinite;
}
.balloon-list div:nth-child(15) {
	top: 90%;
	left: 80%;
	animation: animate 9s linear infinite;
}

// animation
@keyframes animate {
	0% {
		transform: scale(0) translateY(0) rotate(70deg);
	}
	100% {
		transform: scale(1.3) translateY(-1100%) rotate(360deg);
	}
}
@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fadeOut {
	to {
		opacity: 0;
	}
}
